@import "../../style/utils";

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

.sectionProjects_gallery {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include responsiveSmartphones {
    margin-top: 2rem;
  }

  .projectsGallery_container {
    margin: 0;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba($color: #fff, $alpha: 0.5);
    outline: 20px solid rgba($color: #fff, $alpha: 0.5);
    border-radius: 15px;
    transform: translateX(0);
    overflow: hidden;
    opacity: 1;

    @include responsiveTabloids {
      outline: 15px solid rgba($color: #fff, $alpha: 0.5);
    }
    @include responsiveSmartphones {
      outline: 8px solid rgba($color: #fff, $alpha: 0.5);
      flex-direction: column;
    }
  }

  .projectsGallery_container[slide="1"] {
    animation: slide 200ms linear forwards;
  }

  .projectsGallery_picture {
    width: 50%;
    height: 300px;
    @include responsiveTabloids {
      height: 200px;
    }
    @include responsiveSmartphones {
      height: 150px;
      width: 100%;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 300px;
      @include responsiveTabloids {
        height: 200px;
      }
      @include responsiveSmartphones {
        height: 150px;
      }
    }
  }

  .projectsGallery_caption {
    width: 50%;
    background-color: map-get($colors, sky);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    @include responsiveTabloids {
      padding: 13px;
    }
    @include responsiveSmartphones {
      width: 100%;
      padding: 10px;
    }
    h2 {
      font-family: map-get($fonts, elite);
      margin-bottom: 1rem;
      @include responsiveTabloids {
        font-size: 22px;
        margin-bottom: 5px;
      }
      @include responsiveSmartphones {
        font-size: 18px;
        margin-bottom: 0;
      }
    }
    p {
      font-size: 14px;
    }
  }

  .galleryCaption_description {
    margin-bottom: 1rem;
    @include responsiveSmartphones {
      text-align: center;
      min-height: 80px;
    }
  }

  .galleryCaption_links {
    display: flex;
    justify-content: space-between;
    a {
      display: block;
      width: 65px;
      padding: 6px 0px;
      text-align: center;
      font-size: 14px;
      color: map-get($colors, sky);
      background-color: white;
      border-radius: 50%;
    }
  }

  .projectsGallery_counter {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    @include responsiveTabloids {
      font-size: map-get($sizes, s);
      margin-top: 1.5rem;
    }
    @include responsiveSmartphones {
      margin-top: 1rem;
    }
  }
}

.projectsGallery_icons {
  cursor: pointer;
  margin: 0 auto;
  padding: 50px 10px;
  @include responsiveSmartphones {
    margin: 0;
    padding: 0;
  }
}

// tags style

.galleryCaption_tags {
  display: inline-block;
  width: fit-content;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 5px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  @include responsiveTabloids {
    padding: 2px;
    font-size: 12px;
  }
}

.galleryCaption_tags--white-fill {
  background-color: white;
  border: 2px solid white;
  color: map-get($colors, sky);
}

.galleryCaption_tags--white {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.galleryCaption_tags--purple-fill {
  background-color: lighten(darkorchid, 10%);
  border: 2px solid lighten(darkorchid, 10%);
  color: lighten(map-get($colors, sky), 20%);
}

.galleryCaption_tags--purple {
  background-color: transparent;
  border: 2px solid lighten(darkorchid, 10%);
  color: lighten(darkorchid, 10%);
}

.galleryCaption_tags--blue-fill {
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  color: map-get($colors, sky);
}

.galleryCaption_tags--blue {
  background-color: transparent;
  border: 2px solid dodgerblue;
  color: dodgerblue;
}

.galleryCaption_tags--gold-fill {
  background-color: gold;
  border: 2px solid gold;
  color: map-get($colors, sky);
}

.galleryCaption_tags--gold {
  background-color: transparent;
  border: 2px solid gold;
  color: gold;
}
