@import "../../style/utils";

#sectionAbout {
  p {
    padding-top: 16px;
  }
}

@keyframes ladybird-anim {
  0% {
    transform: translate(0, 0) rotateZ(10deg);
    background-image: url("../../assets/ladybird.png");
  }
  2% {
    transform: translate(0, 0) rotateZ(50deg);
  }
  20% {
    transform: translate(300px, -250px) rotateZ(45deg);
    background-image: url("../../assets/ladybird.png");
  }
  21% {
    transform: translate(300px, -250px) rotateZ(45deg);
    background-image: url("../../assets/ladybird-fly.png");
  }
  22% {
    transform: translate(300px, -250px) rotateZ(45deg);
    background-image: url("../../assets/ladybird.png");
  }
  23% {
    transform: translate(300px, -250px) rotateZ(45deg);
    background-image: url("../../assets/ladybird-fly.png");
  }
  24% {
    transform: translate(300px, -250px) rotateZ(45deg);
    background-image: url("../../assets/ladybird.png");
  }
  28% {
    transform: translate(350px, -350px) rotateZ(10deg);
  }
  30% {
    transform: translate(350px, -350px) rotateZ(-50deg);
  }
  33% {
    transform: translate(350px, -350px) rotateZ(-150deg);
  }
  70% {
    transform: translate(0, 0) rotateZ(-180deg);
  }
  100% {
    transform: translate(0, 0) rotateZ(10deg);
  }
}

.ladybird_container {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("../../assets/ladybird.png");
  background-size: contain;
  position: absolute;
  z-index: 110;
  bottom: 50%;
  left: -35px;
  animation: ladybird-anim 40s infinite ease-in-out;
  img {
    width: 30px;
  }
}
