@import "../../style/utils";

a.contact_mail {
  position: relative;
  color: map-get($colors, snow);
  svg {
    width: 90px;
    height: 60px;
    fill: map-get($colors, sky);
    @include responsiveTabloids {
      width: 45px;
      height: 30px;
    }
  }
  span {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: map-get($sizes, l);
    @include responsiveTabloids {
      font-size: 10px;
    }
  }

  &:hover {
    svg {
      fill: map-get($colors, grass);
    }
    span {
      top: 2px;
      font-size: map-get($sizes, xl);
      @include responsiveTabloids {
        top: 4px;
        font-size: 11px;
      }
    }
  }
}
