@import "../../style/utils";

.switch_language--fr {
  position: fixed;
  z-index: 200;
  top: 2px;
  left: 10px;
  width: 50px;
  height: 20px;
  border-radius: 1px;
  background: url("../../assets/icon-language-fr.png");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  @include responsiveTabloids {
    width: 50px;
    height: 20px;
    left: inherit;
    top: 122px;
    right: 10px;
    opacity: 1;
  }
  &:hover {
    cursor: pointer;
  }
}
.switch_language--en {
  position: fixed;
  z-index: 200;
  top: 2px;
  left: 10px;
  width: 50px;
  height: 20px;
  border-radius: 1px;
  background: url("../../assets/icon-language-en.png");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  @include responsiveTabloids {
    width: 50px;
    height: 20px;
    left: inherit;
    right: 10px;
    top: 122px;
    opacity: 1;
  }
  &:hover {
    cursor: pointer;
  }
}
