@import "../../style/utils";

header {
  width: 150px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 20px;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  background: map-get($colors, snow);
  opacity: 0.9;
  @include responsiveTabloids {
    width: 100%;
    height: fit-content;
    bottom: inherit;
    left: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 5px 15px;
    gap: 0px;
  }
  .header_logo {
    order: 1;
    @include responsiveTabloids {
      width: 60%;
    }
    figure {
      margin: 0 auto;
      padding: 0;
      width: fit-content;
      text-align: center;
      @include responsiveTabloids {
        margin: 0;
      }
    }
  }

  .headerLogo_img {
    width: 130px;
    height: 130px;
    cursor: pointer;
    @include responsiveTabloids {
      width: 50px;
      height: 50px;
    }
  }

  .headerLogo_title {
    font-family: map-get($fonts, elite);
    font-size: 23px;
    color: map-get($colors, sky);
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    @include responsiveTabloids {
      font-size: 19px;
    }
    span {
      color: map-get($colors, grass);
      font-size: map-get($sizes, base);
      letter-spacing: 0.3px;
      @include responsiveTabloids {
        font-size: 15px;
      }
    }
  }

  .header_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 3;
    @include responsiveTabloids {
      flex-direction: row;
      justify-content: flex-start;
      gap: 15px;
      width: 50%;
    }
  }

  .header_copyright {
    font-size: map-get($sizes, xs);
    font-style: italic;
    color: map-get($colors, night);
    order: 4;
    text-align: center;
    @include responsiveTabloids {
      width: 50%;
      text-align: right;
      font-size: 10px;
    }
  }
}
