@import "../../style/utils";

header {
  width: 140px;
  padding-bottom: 20px;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: map-get($colors, snow);
  opacity: 0.8;
  text-align: center;

  img.logo {
    width: 130px;
    height: 130px;
    cursor: pointer;
  }

  h1 {
    font-family: map-get($fonts, elite);
    font-size: map-get($sizes, m);
    color: map-get($colors, sky);
    letter-spacing: 0.5px;

    #header_job {
      color: map-get($colors, grass);
      font-size: map-get($sizes, base);
      letter-spacing: 0.3px;
    }
  }

  p {
    color: map-get($colors, night);
  }

  .header_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header_copyright {
    font-size: map-get($sizes, xs);
    font-style: italic;
  }
}
