@import "./utils";

* {
  box-sizing: border-box;
}

html {
  // Hide scrollbar
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }
}

body {
  @include resetMargin;
  font-family: map-get($fonts, noto);
  font-size: map-get($sizes, base);
  font-weight: map-get($weights, reg);
  color: map-get($colors, snow);
}

.page_container {
  position: relative;
}

main {
  @include resetMargin;
  background: map-get($colors, gradient);
  width: 100%;
  position: relative;
}

section {
  @include sectionPaddingContent;
  min-height: 100vh;
  position: relative;
  z-index: 50;
  h1 {
    font-family: map-get($fonts, elite);
    font-size: map-get($sizes, max);
    letter-spacing: normal;
    opacity: 0.9;
  }
}

ul,
li,
h1,
h2,
h3,
p {
  @include resetMargin;
  list-style-type: none;
  color: map-get($colors, snow);
}

a {
  color: map-get($colors, night);
  text-decoration: none;
  &:hover,
  &:visited,
  &:active {
    color: map-get($colors, night);
    text-decoration: none;
  }
}
