@import "../../style/utils";

@keyframes animLinePath {
  to {
    stroke-dashoffset: 0;
  }
}

.animatedLine_container {
  position: absolute;
  z-index: 20;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 205px;
  opacity: 0.7;
  svg {
    overflow: visible;
  }
}

#svg_pathAnimatedLine {
  animation: 5000ms linear forwards animLinePath;
}
